html {
    display: block;
}
div#general {
    margin: auto;
    
    width: 100%;
    height: 980px;
    background-color: #BF98A0;
}
h1 {
    text-align: center;
    color: black;
}
img{
    width: 300px;
    height: 200px;
    text-align: center;
}
h3 {
    color:black ;
    width: 100%;
}

div#encabezado {
    width: 100%;
    height: 70px;
    background-color: #BCCCE0;
}
div#cuerpo {
    text-align: center;
    
    width: 100%;
    
    background-color: #A6D9F7;}
    
    h3 {
    display: block;
    font-size: 1.17em;
        font-weight: bold;}
p {
    display: block;


}

div#pie {
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    background-color: #84DCCF;
    float: under;
}
div#lista {
    float: right;
    width: 300px;
    height: 95%;
    background-color: #3993DD;
}
body {

    margin: 8px;
    height: 115px;
    width:100%;
}

@media screen and (min-width: 321px) and (max-width: 1350px) {}